<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Infos pratiques</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="container-infos">
            <h1 style="margin-top:10%;">Les Rencontres Gourmandes</h1>
            <h4>Organisateur :</h4>
            <div class="row">
              <div class="col-md-3 organisateur">
                <img
                  src="./assets/photos/partenaires/pglogo.png"
                  alt="logo Passeport Gourmand"
                />
              </div>
              <div class="col-md-9 align-self-center organisateur">
                <p id="nomOrganisateur">
                  Le Passeport Gourmand Pays de la Loire
                </p>
              </div>
            </div>

            <h4>Adresse :</h4>
            <p>
              Hippodrome de Pornichet - 3 Bd de Saint-Nazaire, 44380 Pornichet
            </p>
            <h4>Horaires :</h4>
            <p>
              Le samedi 20 novembre de 15h à 20h et le dimanche 21 novembre de
              10h à 18h
            </p>
            <h4>Tarif :</h4>
            <p>Entrée gratuite, sans réservation.</p>
            <h4 class="bandeau-infos">infos Passe sanitaire</h4>
            <p>
              Le passe sanitaire vous sera demandé à l'entrée pour participer à
              l'événement. Pour rappel, ce dernier est
              <strong>
                obligatoire à partir de 12 ans et 2 mois à compter du 30
                septembre 2021</strong
              >. Merci de votre compréhension.
            </p>

            <h4 class="bandeau-infos">
              Une question sur l'événement Les Rencontres Gourmandes ? Contactez
              nous aux coordonnées suivantes :
            </h4>
            <div>
              <h4 id="labelContact">Contact</h4>
              <p>
                <i class="fa fa-fw fa-home"></i> 35 rue du Petit Savine, 44570
                TRIGNAC
              </p>
              <p>
                <i class="fa fa-fw fa-envelope"></i>
                xpg44@orange.fr
              </p>
              <p id="p-mobile">
                <i class="fa fa-fw fa-mobile"></i> 06 07 11 22 58
              </p>
              <p><i class="fa fa-fw fa-phone"></i> 02 40 90 28 85</p>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </body>
</html>
