<!-- Footer -->
<div
  class="modal fade"
  id="popupNewExpoInfo"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="popupNewExpoInfoLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="popupNewExpoInfoLabel">
          Informations - Devenir exposant
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Vous souhaitez devenir exposant aux Rencontres Gourmandes de Pornichet
          ? Veuillez adresser un mail à "<strong> xpg44@orange.fr </strong>"
          avec pour objet "<strong>RG info exposant</strong>" en indiquant les
          éléments ci dessous: <br /><br />
          - Votre nom et prénom <br />- Votre numéro de téléphone (fixe et/ou
          portable) <br />- Le nom de votre société <br />- le type de produit
          que vous proposez <br /><br />
          A la réception de votre email, nous prendrons contact avec vous dès
          que possible. <br /><br />Merci et à très bientôt.
        </p>
      </div>
    </div>
  </div>
</div>

<footer
  id="footer-RG"
  class="text-center text-lg-start text-white"
  style="background-color: #212b40"
>
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">
            Les Rencontres Gourmandes
          </h6>
          <p>
            Nous comptons sur vous pour venir découvrir et profiter des bons
            produits et conseils de nos producteurs locaux à cette 7 ème édition
            des Rencontres Gourmandes.
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Infos pratiques</h6>
          <p>
            <a
              class="text-white"
              style="cursor: pointer"
              [routerLink]="['/mentions-legales']"
              >Mentions légales</a
            >
          </p>
          <!-- <p>
            <a id="goToExposant" class="text-white" style="cursor: pointer"
              >Les exposants</a
            >
          </p> -->
          <p>
            <a
              class="text-white"
              style="cursor: pointer"
              [routerLink]="['/infos']"
              >horaires et localisation</a
            >
          </p>
          <p>
            <a
              class="text-white"
              style="cursor: pointer"
              data-bs-toggle="modal"
              data-bs-target="#popupNewExpoInfo"
              >Devenir exposant</a
            >
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold contactFlash">
            Contact
          </h6>
          <p>
            <i class="fa fa-fw fa-home mr-3 contactFlash"></i> 35 rue du Petit
            Savine, 44570 TRIGNAC
          </p>
          <p>
            <i class="fa fa-fw fa-envelope mr-3 contactFlash"></i>
            xpg44@orange.fr
          </p>
          <p id="p-mobile">
            <i class="fa fa-fw fa-mobile mr-3 contactFlash"></i> 06 07 11 22 58
          </p>
          <p>
            <i class="fa fa-fw fa-phone mr-3 contactFlash"></i> 02 40 90 28 85
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Suivez nous</h6>

          <!-- Facebook -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #3b5998"
            href="https://www.facebook.com/LePasseportGourmandPaysDeLaLoire"
            target="_blank"
            role="button"
            ><i class="fa fa-fw fa-facebook-f"></i
          ></a>

          <!-- Twitter -->
          <!-- <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #55acee"
            href="#!"
            role="button"
            ><i class="fa fa-fw fa-twitter"></i
          ></a> -->

          <!-- Google -->
          <!-- <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #dd4b39"
            href="#!"
            role="button"
            ><i class="fa fa-fw fa-google"></i
          ></a> -->

          <!-- Instagram -->
          <!-- <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #ac2bac"
            href="#!"
            role="button"
            ><i class="fa fa-fw fa-instagram"></i
          ></a> -->

          <!-- Linkedin -->
          <!-- <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #0082ca"
            href="#!"
            role="button"
            ><i class="fa fa-fw fa-linkedin"></i
          ></a> -->
          <!-- Github -->
          <!-- <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #333333"
            href="#!"
            role="button"
            ><i class="fa fa-fw fa-github"></i
          ></a> -->
        </div>
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <!-- © 2021 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Stéphane PERRINEL</a> -->
    <!-- <p style="color: transparent;" [routerLink]="['/auth'] ">Se connecter</p> -->
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
