<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Barre de navigation</title>
  </head>
  <body>
    <nav
      class="
        navbar navbar-expand-lg navbar-light
        bg-light
        fixed-top
        shadow
        p-3
        mb-5
        bg-body
        rounded
      "
    >
      <div class="bg-image hover-zoom">
        <img
          [routerLink]="['/home']"
          id="logo"
          class="navbar-brand"
          src="/assets/photos/logo-RG.png"
          alt="logo-site"
          style="cursor: pointer"
        />
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto" id="mainMenu">
          <li class="nav-item">
            <a
            id="navItem1"
              class="nav-link active"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              [routerLink]="['/home']"
              (click)="activeClass(1)"
              >Accueil</a
            >
          </li>
          <li class="nav-item">
            <a
              id="navItem2"
              class="nav-link"
              [routerLink]="['/articles']"
              (click)="activeClass(2)"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              >On parle de nous</a
            >
          </li>
          <li class="nav-item">
            <a
            id="navItem3"
              class="nav-link"
              href="https://pays-de-loire.lepasseportgourmand.fr/"
              target="_blank"
              (click)="activeClass(3)"
              >Le Passeport Gourmand</a
            >
          </li>
          <li class="nav-item">
            <a
              style="cursor: pointer"
              id="navItem4"
              class="nav-link "
              (click)="goToContact()"
              (click)="activeClass(4)"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              >Contact</a
            >
          </li>
          <li class="nav-item">
            <a
            id="navItem5"
              [routerLink]="['/infos']"
              class="nav-link"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              (click)="activeClass(5)"
              >Infos utiles</a
            >
          </li>

          <li class="nav-item" *ngIf="isAuth == true">
            <a
            id="navItem6"
              class="nav-link"
              style="color: rgb(3, 182, 41)"
              [routerLink]="['/add']"
              (click)="activeClass(6)" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              >Ajouter un exposant</a
            >
          </li>
          <li class="nav-item" *ngIf="isAuth == true">
            <button class="btn btn-primary" (click)="logout()" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">
              Se déconnecter <i class="fa fa-fw fa-user"></i>
            </button>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
