<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Les rencontres gourmandes de Pornichet est un salon de producteurs locaux qui viennent vous faire découvrir leur passion. Découvrez les à leur stand, goûter leurs bons produits et savourez vos trouvailles sur place dans une ambiance conviviale et sympathique.">
    <title>On parle de nous</title>
  </head>
  <body>
    <div class="container">
      <div class="row"></div>
    <div class="row titleOnParleDeNous">
    <h1>Editions précédentes des Rencontres Gourmandes de Pornichet</h1>
    <h2>Producteurs locaux, remise de récompenses, présentation du salon...</h2>
  </div>
  <div class="row">
    <div
      id="carouselExampleControls"
      class="carousel slide responsive-carousel"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="/assets/photos/articles/rencontres-gourmandes-pornichet-2eme-edition-article1.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="/assets/photos/articles/rencontres-gourmandes-pornichet-producteurs-locaux-salon-article-2.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="/assets/photos/articles/rencontres-gourmandes-pornichet-remise-des-lots-article-3.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="/assets/photos/articles/rencontres-gourmandes-pornichet-producteurs-locaux.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="/assets/photos/articles/rencontres-gourmandes-pornichet-5eme-edition.JPG"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <i class="fa fa-fw fa-arrow-left"></i>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <i class="fa fa-fw fa-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
  </body>
</html>
