<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mentions légales</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="container-infos">
            <h1 style="margin-top:10%;">Mentions légales</h1>

            <h4 class="bandeau-infos">Informations éditoriales :</h4>
            <p>
              <strong>Le site est édité par </strong>Stéphane PERRINEL<br /><br />
              <strong> mail: </strong>s.perrinel@orange.fr<br />
              <strong>numéro de téléphone: </strong>0675892411<br /><br />
              <strong>adresse:</strong><br /><br />
              9 rue molière<br />
              92400 COURBEVOIE<br />
              FRANCE<br /><br />

              <strong>Conception technique & développement : </strong>stéphane
              PERRINEL
            </p>
            <h4 class="bandeau-infos">Informations sur l'hébergeur :</h4>
            <p>
              L'hébergeur du site www.rencontres-gourmandes-pornichet.fr est la
              Société FIREBASE HOSTING par GOOGLE, dont le siège social est
              situé au Google LLC, 1600 Amphitheatre Parkway, Mountain View,
              California 94043 USA.
            </p>
            <h4 class="bandeau-infos">Droit d'auteur et copyright:</h4>
            <p>
              Les divers éléments du site web concernant les exposants (logos et
              descriptions) sont protégés par le droit d'auteur, le droit des
              marques ainsi que le droit à l'image de ces derniers.
            </p>
            <h4 class="bandeau-infos">Liens hypertexte</h4>
            <p>
              www.rencontres-gourmandes-pornichet.fr déclinent formellement
              toute responsabilité quant aux contenus des sites vers lesquels
              elles offrent des liens. Ces liens sont proposés aux utilisateurs
              du site web « www.rencontres-gourmandes-pornichet.fr» en tant que
              service. La décision d'activer les liens appartient exclusivement
              aux utilisateurs du web.
            </p>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </body>
</html>
