strong {
  color: #c4cb00;
}

p {
  margin: -2% 10% 2% 10%; /* haut, droite, bas, gauche (comme une horloge) */
  text-align: justify;
  font-size: 25px;
}

@media screen and (min-width: 0px) and (max-width: 622px) {
  p {
    font-size: 18px;
  }
}

.bandeau {
  width: 100%;
  height: 350px;
  margin-top: 2%;
  -webkit-box-shadow: 0 8px 6px -6px #6e6767ad;
}

@media screen and (min-width: 0px) and (max-width: 1177px) {
  .bandeau {
    height: 100%;
  }
}

@media screen and (min-width: 0px) and (max-width: 376px) {
  h1 {
    text-align-last: center;
  }
}

.btn {
  display: flex;
  margin: auto;
}

.logo-partenaire {
  width: 10%;
  height: 10%;
  margin-right: auto;
  margin-left: auto;
}

.div-partenaire {
  margin-top: 30px;
  display: flex;
  margin-bottom: 30px;
}

h4 {
  font-size: 42px;
}

h4,
h1, h2{
  color: #e40137;
  text-align-last: center;
  margin-top: 10px;
  margin-bottom: 5%;
}

