<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <img
      class="bandeau"
      src="./assets/photos/bandeau-home2.png"
      alt="rencontres gourmandes"
    />
    <!-- liste des Exposants -->
    <app-edit></app-edit>
    <!--Fin liste des exposants -->
    <h4>Nos partenaires</h4>
    <div class="div-partenaire">
      <img
        class="logo-partenaire"
        src="./assets/photos/partenaires/pornichet-la-destination.svg"
        alt="rencontres gourmandes"
      />
      <img
        class="logo-partenaire"
        src="./assets/photos/partenaires/pornichet-tourisme.png"
        alt="rencontres gourmandes"
      />
      <img
        class="logo-partenaire"
        src="./assets/photos/partenaires/pornichet-hyppodrome.svg"
        alt="rencontres gourmandes"
      />
      <img
        class="logo-partenaire"
        src="./assets/photos/partenaires/rca.png"
        alt="rencontres gourmandes"
      />
      <img
        class="logo-partenaire"
        src="./assets/photos/partenaires/pglogo.png"
        alt="rencontres gourmandes"
      />
    </div>
  </body>
</html>
