<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Les rencontres gourmandes de Pornichet est un salon de producteurs locaux qui viennent vous faire découvrir leur passion. Découvrez les à leur stand, goûter leurs bons produits et savourez vos trouvailles sur place dans une ambiance conviviale et sympathique.">
    <title>Accueil</title>
  </head>
  <body>



    <img
      class="bandeau"
      src="./assets/photos/rencontres-gourmandes-pornichet-bandeau-home2.png"
      alt="rencontres gourmandes"
    />
    <h1 style="margin-top: 50px">Le concept des Rencontres Gourmandes</h1>
    <p>
      Venez découvrir les bons produits et conseils de
      <strong>nos producteurs locaux </strong> ainsi que
      <strong>la mini ferme du Marché Paysan</strong> dans une ambiance
      sympathique et conviviale ! Vous trouverez votre bonheur parmi les vins,
      chocolats, café, charcuteries, foie gras, rhums, épices, bières, apéritifs
      locaux, brioches, miel, safran et bien d'autres !
      <strong> Des idées de cadeaux pour les fêtes</strong> mais aussi la
      possibilité de <strong>déjeuner sur place</strong>, avec les produits
      exposés, autour d'un moment de partage pour toute la famille.
    </p>
    <!-- liste des Exposants -->
    <app-edit></app-edit>
    <!--Fin liste des exposants -->
    <h4>Nos partenaires</h4>
    <div class="div-partenaire">
      <img
        class="logo-partenaire"
        src="./assets/photos/partenaires/pornichet-la-destination.svg"
        alt="rencontres gourmandes"
      />
      <img
        class="logo-partenaire"
        src="./assets/photos/partenaires/pornichet-tourisme.png"
        alt="rencontres gourmandes"
      />
      <img
        class="logo-partenaire"
        src="./assets/photos/partenaires/pornichet-hyppodrome.svg"
        alt="rencontres gourmandes"
      />
      <img
        class="logo-partenaire"
        src="./assets/photos/partenaires/rca.png"
        alt="rencontres gourmandes"
      />
      <img
        class="logo-partenaire"
        src="./assets/photos/partenaires/logo-Passeport-Gourmand-Pays-de-la-Loire.png"
        alt="rencontres gourmandes"
      />
    </div>
  </body>
</html>
