<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Les rencontres gourmandes de Pornichet est un salon de producteurs locaux qui viennent vous faire découvrir leur passion. Découvrez les à leur stand, goûter leurs bons produits et savourez vos trouvailles sur place dans une ambiance conviviale et sympathique.">
    <title>Les Rencontres Gourmandes Pornichet</title>
  </head>
  <body>
    <header>
      <app-navbar></app-navbar>
    </header>
    <router-outlet></router-outlet>

    <app-footer></app-footer>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-analytics.js"></script>
  </body>
</html>
