<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Les rencontres gourmandes de Pornichet est un salon de producteurs locaux qui viennent vous faire découvrir leur passion. Découvrez les à leur stand, goûter leurs bons produits et savourez vos trouvailles sur place dans une ambiance conviviale et sympathique.">
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Erreur 404</title>
  </head>
  <body>
    <div class="page-wrap d-flex flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 text-center">
            <span class="display-1 d-block">404</span>
            <div class="mb-4 lead">
              La page que vous cherchez n'a pas été trouver
            </div>
            <a [routerLink]="['/home']" class="btn btn-link"
              >Retour à l'accueil</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
