<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modifier un exposant</title>
  </head>
  <body>
    <app-list (idExposantEdit)="getExposantId($event)"></app-list>
    <!-- Modal - import bootstrap script angular.json  (on/off server)-->
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">
              Modifier les informations de l'exposant
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form *ngIf="exposant" (ngSubmit)="onSubmit(f)" #f="ngForm">
              <img
                *ngIf="exposant.image"
                src="{{ exposant.image }}"
                alt="image de l'exposant"
              />
              <div class="mt-3">
                <label>Modifier la photo</label>
                <input
                  type="file"
                  style="margin-top: 20px"
                  (change)="detectFiles($event)"
                  class="form-control"
                  accept="image/*"
                  name="image"
                />
                <p class="text-success" *ngIf="fileUploaded">
                  Fichier chargé !
                </p>
              </div>
              <br />
              <label>Nom:</label><br />
              <input
                type="text"
                name="nom"
                placeholder="{{ exposant.nom }}"
                [(ngModel)]="exposant.nom"
              /><br /><br />
              <label>Description:</label><br />
              <textarea
                type="text"
                name="description"
                placeholder="{{ exposant.description }}"
                [(ngModel)]="exposant.description"
              ></textarea>
              <br /><br />
              <label>Catégorie:</label><br />
              <input
                type="text"
                name="categorie"
                placeholder="{{ exposant.categorie }}"
                [(ngModel)]="exposant.categorie"
              />
              <br /><br />
              <label>Telephone fixe:</label><br />
              <input
                type="string"
                name="telephone"
                placeholder="{{ exposant.telephone }}"
                [(ngModel)]="exposant.telephone"
              />
              <br /><br />
              <label>Portable:</label><br />
              <input
                type="string"
                name="portable"
                placeholder="{{ exposant.portable }}"
                [(ngModel)]="exposant.portable"
              />
              <br /><br />
              <label>Email:</label><br />
              <input
                type="email"
                name="email"
                placeholder="{{ exposant.email }}"
                [(ngModel)]="exposant.email"
              />

              <br /><br />
              <label>Site web:</label><br />
              <input
                type="text"
                name="siteweb"
                placeholder="{{ exposant.siteweb }}"
                [(ngModel)]="exposant.siteweb"
              />
              <br /><br /><br />

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Fermer
                </button>
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="fileIsUploading"
                >
                  Valider
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
