/* List with bullets */
.list-bullets {
  list-style: none;
}

.list-bullets li {
  display: flex;
  align-items: center;
}

.list-bullets li::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #5784d7;
  border: 2px solid #8fb3f5;
  display: block;
  margin-right: 1rem;
}

/* Unordered list with custom numbers style */
ol.custom-numbers {
  list-style: none;
}

ol.custom-numbers li {
  counter-increment: my-awesome-counter;
}

ol.custom-numbers li::before {
  content: counter(my-awesome-counter) ". ";
  color: #2b90d9;
  font-weight: bold;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
body {
  /* min-height: 100vh;
  background-color: #6190e8; */
  /* background-image: linear-gradient(to right, #d75757 0%, #e8a7a7 100%); */
  background-image: url("/assets/photos/background-page/background-home.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

li {
  font-style: italic;
}

.img-exposant {
  /* max-width: 200px;
  min-width: 200px;
  max-height: 200px;
  min-height: 200px;
  height: auto;
  margin-right: 25px; */
  display: block;
  max-width: 200px;
  height: auto;
  border: ridge;
}

.btnEdit,
.btnDelete {
  font-size: 25px;
  float: right;
  border: none;
}

.btnDelete {
  margin-left: 10px;
  color: grey;
}

.description-exposant {
  align-items: flex-start !important;
}

.coordonnees-exposant {
  justify-content: center;
  width: auto;
  margin: 0;
}

.fa {
  font-size: 22px;
  color: rgb(97 137 189);
}

.row {
  width: 95%;
  text-align: justify;
}

h5 {
  margin-bottom: 20px;
}

h1 {
  color: #e40137;
  text-align-last: left;
  margin-top: 10px;
  margin-bottom: 5%;
  font-weight: normal;
}
h4 {
  font-family: "Congratulations", "arial", sans-serif;
  color: rgb(97, 137, 189);
  font-size: 30px;
}

h6 {
  font-weight: normal;
  font-family: "arial", sans-serif;
  font-size: 16px;
  width: auto;
  margin-bottom: 15px;
  margin-top: -20px;
}

.responsive-container {
  margin-left: 20px;
}

@media screen and (min-width: 0px) and (max-width: 700px) {
  .responsive-container {
    display: none !important;
  }
}

i {
  margin-right: 10px;
}

span {
  margin: 0 auto;
}

h4:hover {
  color: rgb(172, 176, 182);
}

@media screen and (min-width: 0px) and (max-width: 994px) {
  .img-responsive {
    align-items: center !important;
  }
}
