<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liste des exposants</title>
  </head>
  <body>
    <div class="container py-5">
      <header class="text-center text-white">
        <h1 class="display-4" id="labelExposantList">Les exposants</h1>
        <br />
      </header>
      <ul
        style="list-style: none"
        *ngFor="let exposant of exposants; let i = index"
      >
        <li>
          <div class="card shadow mb-4">
            <div class="card-body p-5">
              <!-- List with icons -->
              <!-- Button trigger modal -->
              <button
                *ngIf="isAuth == true"
                class="btn btn-outline-primary btnDelete"
                (click)="onDeleteExposantToServer(exposant)"
              >
                <i class="fa fa-fw fa-trash"></i>
              </button>
              <button
                *ngIf="isAuth == true"
                class="btn btn-outline-primary btnEdit"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
                (click)="sendNotification(i)"
              >
                <i class="fa fa-fw fa-edit"></i>
              </button>
              <h4
                id="nomExposantList"
                class="mb-4"
                style="cursor: pointer"
                [routerLink]="['/details/', i]"
              >
                {{ exposant.nom }}
              </h4>
              <h6>
                <strong style="color: #c4cb00">Spécialité(s) : </strong
                >{{ exposant.categorie }}
              </h6>
              <ul class="list-unstyled list pl-5">
                <div style="display: flex">
                  <li class="mb-3 d-flex align-items-baseline img-responsive;">
                    <!--  <i class="fa fa-inbox mr-3 text-primary"></i -->
                    <img
                      class="img-exposant"
                      src="{{ exposant.image }}"
                      alt="image de l'exposant"
                    />
                  </li>
                  <div class="container" class="responsive-container">
                    <div class="row h-75">
                      <li
                        id="description"
                        class="
                          mb-3
                          d-flex
                          align-items-center
                          description-exposant
                        "
                      >
                        <!-- <i class="fa fa-hourglass-end mr-3 text-primary"></i -->
                        <p id="p-responsive">
                          {{ exposant.description }}
                        </p>
                      </li>
                    </div>
                    <div
                      *ngIf="
                        exposant.telephone ||
                        exposant.email ||
                        exposant.portable ||
                        exposant.siteweb
                      "
                      class="row h-25"
                      style="display: flex"
                    >
                      <h5>Coordonnées :</h5>
                      <span
                        *ngIf="exposant.telephone"
                        class="coordonnees-exposant"
                      >
                        <i class="fa fa-fw fa-phone"></i>
                        {{ exposant.telephone }}
                      </span>
                      <span
                        *ngIf="exposant.portable"
                        class="coordonnees-exposant"
                      >
                        <i class="fa fa-fw fa-mobile"></i>
                        {{ exposant.portable }}
                      </span>
                      <span *ngIf="exposant.email" class="coordonnees-exposant">
                        <i class="fa fa-fw fa-send"></i>
                        {{ exposant.email }}
                      </span>
                      <span
                        *ngIf="exposant.siteweb"
                        class="coordonnees-exposant"
                      >
                        <i class="fa fa-fw fa-laptop"></i>
                        <a href="{{ exposant.siteweb }}" target="_blank">{{
                          exposant.siteweb
                        }}</a>
                      </span>
                    </div>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
