<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="../../../../favicon.ico" />

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <title>Détails sur {{ exposant.nom }}</title>
</head>

<body id="body-edit-livre">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-12">
        <button class="btn btn-default btn-retour" (click)="onBack()">
          <i class="fas fa-chevron-left"></i><strong> Retour</strong>
        </button>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <img src="{{ exposant.image }}" class="center" />
      </div>
      <div class="col-md-4"></div>
      <div class="col-xs-12">
        <h1 class="display-3">{{ exposant.nom }}</h1>
        <p class="lead">{{ exposant.description }}</p>
      </div>
    </div>
  </div>
</body>
